body {
	padding: 0px;
	margin: 0px;
	src: url(fonts/VINERITC.ttf);
	font-family: "Viner Hand ITC";
	vertical-align: center;
}

.inputmain {
	position: absolute;
	width: 95%;
	height: 5%;
	left: 2.5%;
	font-family: "Viner Hand ITC";
	font-size: 1.25vw;
	text-align: center;
	vertical-align: center;
}

.inputsecond {
	position: absolute;
	width: 46.25%;
	height: 5%;
	font-family: "Viner Hand ITC";	
	font-size: 1vw;
	text-align: center;
	vertical-align: center;
}

.sitehead {
	position: absolute;
	width: 99%;
	height: 20%;
	left: 0.5%;
	top: 1%;
	background: url('../images/head.jpg') no-repeat;
	background-size:100% 100%;
}

.sitemenu {
	position: absolute;
	width: 15%;
	height: 30%;
	top: 67%;
	background-size: cover;
}

.sitebg {
	position: fixed;
	width: 100%;
	height: 100%;
	background: url('../images/bg.jpg') no-repeat;
	border: 1px solid black;
}

.siteengine {
	position: absolute;
	width: 24.5%;
	height: 77%;
	left: 0.5%;
	top: 22%;
	background: url('../images/menu.jpg') no-repeat;
	background-size:100% 100%;
}

.hstyle0 {
	position: relative;
	font-size: 1.75vw;
	font-style: bold;
	top: -4%;
	left: 1%;
}

.pstyle0 {
	position: absolute;
	display: block;
	font-size: 1.25vw;
	left: 5%;
}

.object {
	position: absolute;
	display: block;
	width: 74%;
	height: 77%;
	left: 25.5%;
	top: 22%;
	background: url('../images/p1.gif') no-repeat;
	background-size: 100% 100%;
}